// out: ./fg-arv.css

/*
 * First Group Alternative Routes Viewer.
 * @version 0.0.1
 */

@fg-arv_form-bg: #fff;
@fg-arv_main-color: #265a88;
@fg-arv_plain-text-color: #fff;
@fg-arv_action-color: @fg-arv_main-color;
@fg-arv_marker-bg-color: #fd3c43;
@fg-arv_marker-from-bg-color: #639d41;
@fg-arv_marker-to-bg-color: #92183A;
@fg-arv_transparent: rgba(0, 0, 0, 0);
@fg-arv_mobile-break-max: 767px;
@fg-arv_over1000-break-max: 1024px;
@fg-arv_images-dir: "images";
@fg-arv_dark-gray: #616161;
@fg-arv_middle-gray: #939393;
.fg-arv-widget {
    position: relative;
    width: 100%;
    height: 100%;
    .gm-style {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-decoration: inherit;
    }
    .map {
        width: 100%;
        height: 100%;
    }
    .btn-primary {
        color: @fg-arv_plain-text-color !important;
    }
    .btn-secundary {
        color: #337ab7;
        background-color: #F0D774;
        border-color: #E2AE08;
        font-weight: bold;
        padding:4px;
    }
    .form {
        padding-left: 0;
        .form-input {
            border: 1px solid #ccc;
            border-radius: 4px;
            color: @fg-arv_main-color;
            font-size: 16px;
            font-weight: bold;
            button {
                color: @fg-arv_main-color;
                font-size: 16px;
                font-weight: bold;
            }
        }
        &.error {
            .to-component:not(.has-error),
            .transfer-component:not(.has-error),
            .from-component:not(.has-error),
            .go-component.simple {
                padding-top: 51px;
                height: 105px;
                @media screen {
                    @media (max-width: @fg-arv_over1000-break-max) {
                        padding-top: 70px;
                    }
                }
                @media screen {
                    @media (max-width: @fg-arv_mobile-break-max) {
                        padding-top: 5px;
                        height: auto;
                    }
                }
                .marker-icon.input-icon {
                    @media screen {
                        @media (max-width: @fg-arv_mobile-break-max) {
                            top: 9px;
                        }
                    }
                }
            }
            .to-component.has-error,
            .from-component.has-error {
                height: 105px;
                @media screen {
                    @media (max-width: @fg-arv_mobile-break-max) {
                        height: auto;
                    }
                }
                &:after {
                    @media screen {
                        @media (max-width: @fg-arv_over1000-break-max) {
                            bottom: 9px;
                        }
                    }
                }
            }
            .to-component,
            .from-component {
                &:after {
                    @media screen {
                        @media (max-width: @fg-arv_over1000-break-max) {
                            bottom: 8px;
                        }
                    }
                }
            }
        }
        @media screen {
            @media (max-width: @fg-arv_mobile-break-max) {
                width: auto;
            }
        }
        .form-components-container {
            padding-left: 0;
        }
        .xxs-screen {
            padding-left: 10px;
            @media screen {
                @media (max-width: 430px) {
                    width: 100%;
                }
            }
        }
        .row {
            margin: 0 !important;
        }
        .form-component {
            background: @fg-arv_form-bg;
            padding: 10px 10px 20px;
            @media screen {
                @media (max-width: @fg-arv_mobile-break-max) {
                    padding: 5px 10px;
                }
            }
            .form-subcomponent {
                padding: 0;
                border-radius: 3px;
            }
            &.fg-arv_date-component {
                padding-bottom: 21px;
                @media screen {
                    @media (max-width: @fg-arv_mobile-break-max) {
                        padding-bottom: 6px;
                    }
                }
            }
        }
        button {
            height: 34px;
            border: hidden;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
        .from-component {
            padding-left: 10px;
            input {
                padding-left: 25px;
            }
            &.focused .input-icon {
                opacity: 1;
            }
            @media screen {
                @media (max-width: @fg-arv_mobile-break-max) {
                    padding-top: 10px;
                }
            }
        }
        .to-component {
            input {
                padding-left: 25px;
            }
            &.focused .input-icon {
                opacity: 1;
            }
            @media screen {
                @media (max-width: @fg-arv_mobile-break-max) {
                    padding-top: 9px;
                }
            }
        }
        .journey-mode-component {
            @media screen {
                @media (max-width: @fg-arv_mobile-break-max) {
                    //padding-right: 5px;
                }
            }
        }
        .time-component {
            @media screen {
                @media (max-width: @fg-arv_mobile-break-max) {
                    padding-left: 5px;
                }
            }
        }
        .go-component {
            min-width: 70px;
            padding-right: 10px;
            @media screen {
                @media (max-width: @fg-arv_mobile-break-max) {
                    padding-bottom: 20px;
                }
            }
        }
        &.complete {
            .basic-form-only {
                display: none !important;
                visibility: hidden !important;
            }
        }
    }
    .right {
        text-align: right;
    }
    .left {
        text-align: left;
    }
    .map-control {
        margin: 5px 10px !important;
        &.complete {
            display:none;
        }
    }
    //------ Imports -------
    //···· Components ······
    @import "components/datepicker.less";
    @import "components/timepicker.less";
    @import "components/combobox.less";
    @import "components/criteria.less";
    @import "components/journeys.less";
    @import "components/infowindow.less";
    @import "components/ballons.less";
}
